:root {
  --color-border:    "" ;
  --color-width:     "" ;
  --color-animation: "" ;
  --width-smallbox : "";
  --height-smallbox : "";
  --text-color  : "";
  --bottom-css  : "";
  --row-position : "";
  --padding-x : "";
  --padding-y : "";
  --grid-gap : "" ;
  --f22-display : "";
  --f22-bottom-color : "";
  --f22-bottom-background : "";
  --largecontainer-width : "";
  --largecontainer-height : "";
 }
             

 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.video-container {
  width: var(--largecontainer-width);
  height: var(--largecontainer-height);
  
  position: fixed;
  bottom: 10px;
  /* right: 10px; */
  border-radius: 10px;
  z-index: 10000;
  background-color: black;
  isolation: isolate;
  z-index: 100;
}

.video-container-box {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 10px;
  isolation: isolate;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: -10px 4px 65px 0px rgba(0, 0, 0, 0.1);
  isolation: isolate;
}
.full {
  width: 100%;
}
.overlay-thing {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  padding-bottom: 0;
  margin-bottom: 3.8rem;
  text-align: center;
  isolation: isolate;
}

.flexiblebutton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  isolation: isolate;
}

.overlay-thing-button {
  display: block;
  padding: var(--padding-y)  var(--padding-x)   ;
  border-radius: 20px;
  margin-bottom: 8px;
  background-color: #fff;
  color: black;
  cursor: pointer;
  font-size: 12px !important ;
  width: 100%;

  isolation: isolate;
}

.large-container-buttonparent {
  position: absolute;
  bottom: var(--bottom-css);
  width: 100%;
  padding: 20px !important;
  isolation: isolate;
  display: var(--f22-display);
  grid-template-columns: var(--row-position);
  grid-gap: var(--grid-gap);
}

a {
  color: inherit;
  text-decoration: none;
  font-size: inherit;
}



.small-video-container-box-parent {
  width: calc(150px + 18px);
  height: calc(200px + 18px);
  position: fixed;
  /* bottom: 10px;
  right: 10px; */
  z-index: 100;
  isolation: isolate;
}
.small-video-container-box {
  position: absolute;
  border-radius: 10px;
  z-index: 10;
  width: 160px;
  height: 160px;
  z-index: 100;
  /* position: fixed;
  bottom: 18.2px;
  right: 19px; */
  border-radius: 50%;
  isolation: isolate;
}

video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  isolation: isolate;
}
.close-button {
  position: absolute;
  right: 0;
  top: -10px;
  background-color: black;
  height: 30px;
  width: 30px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  cursor: pointer;
  isolation: isolate;
}

.cls-sm {
  height: 15px;
  width: 15px;
  top: -5px;
  padding: 3px;
}

.widgetheader {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 15px;
  color: var(--text-color);
  font-family: sans-serif;
  text-shadow:1px 1px #000;
}
/* naturallyyours */
.sm-video {
  z-index: 1;
}

.lg-credit {
  color: white;
  position: absolute;
  bottom: 0 !important ;
  width: 100% !important ;
  text-align: center;
  font-size: 10px !important ;
  font-family: sans-serif;
  margin: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.lg-credit a:hover{
  color: #fff;
}

/* :not(:root):fullscreen {
 z-index: -1;
} */
/* :not(:root):fullscreen::backdrop{
  background-color: transparent;
 
}


:not(:root):fullscreen {
  z-index: -1  !important ;
} */

.video-size {
  min-height: 100vh;
  width: 100%;
  background-color: black;
}

.mutedbutton {
  position: absolute;
  bottom: 28px;
  top: 0;
  z-index: 1;
  left: 10px;
  width: fit-content;
  height: fit-content;
  opacity: 1;
  background: transparent;
  border: none;
  pointer-events: none;
}
.mutedbutton svg {
  padding-top: 10px;
  padding-left: 5px;
  width:fit-content;
  width: 4rem;
  height: 2.9rem;
  /* height: 100%; */
  fill: white;
  pointer-events: fill;
}
 
.replay{
  left : 80px
}

.replay svg {
  width: 3rem;
}


/* @media only screen and (max-width: 1440px) {
 
} */

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.brick {
  position: absolute;
  bottom: 10px;

  z-index: 1;
  right: 10px;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  opacity: 1;
  /* background: transparent; */
  border: none;
}

.brick h1 {
  font-size: 1.2rem;
}

/* hamburger */

.circle {
  border-radius: 50%;
}

.smvideo-container {
  width: fit-content;
  /* border-radius: 50%; */
  width: var(--width-smallbox);
  height: var(--height-smallbox);
  border: var(--color-width) solid var(--color-border) !important;
}
/* .smvideo-container::before{
  width: calc(100%);
  height: calc(100%);
  border: 5px solid black;
} */

.smvideo-container-round {
  width: fit-content;
  border-radius: 50%;
  width: 160px;
  height: 160px;
}

.smvideo-container-round::before {
  width: calc(100%);
  height: calc(100%);
  border-radius: 50%;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  position: absolute;
  top: -8.2px;
  bottom: 10px;
  left: -8.2px;
  right: 0;
  border: var(--color-width) solid var(--color-border) !important;
  border-radius: 50%;
  animation: pulse 1s infinite;
  box-sizing: content-box;
}

.loader-container svg {
  padding-top: 80px;
  position: absolute;
  z-index: -10;
}



.overlay-thing-button:hover {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  transition: 0.5s ease-in-out ;
}